html {
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
  background-color: #f0eee8;
  font-size: 1rem;
  color: #512200;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #512200;
}

section {
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 8px;
}

h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  padding: .4em .75em .5em;
  margin: 0;
}

p {
  font-size: 1rem;
  padding: .4em 1.1em .5em;
  margin: 0;
  margin-top: -.5rem;
}

.list {
  width: 100%;
  padding: 1rem;
}

dl {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: .875rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 0 1rem;
  border-top: 3px solid #9a816d;
  border-bottom: 3px solid #9a816d;
  margin-top: -.5em;
}

dt {
  width: 50%;
}

dd {
  margin-left: auto;
  width: 50%;
  font-style: italic;
}

.button {
  text-align: center;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  font-family: Dosis, sans-serif;
  text-align: center;
  border: 3px solid #785439;
  border-radius: 8px;
  background-color: #785439;
  color: #f0eee8;
  margin: 0 0 1rem;
  margin-top: -1rem;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #512200;
  border-color: #512200;
}

.link-card {}

.link-card h2 {}
