html {
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
  background-color: #f0eee8;
  font-size: 1rem;
  color: #512200;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #512200;
}

section {
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 8px;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

dl {
  font-size: .875rem;
}

.button {
  font-size: 1.125rem;
  font-family: 'Dosis', sans-serif;
  border: 3px solid #785439;
  background-color: #785439;
  color: #f0eee8;
}
