html {
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
  background-color: #f0eee8;
  font-size: 1rem;
  color: #512200;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.body {
  display: block;
  border: 3px solid #9a816d;
  border-radius: 8px;
  background-color: #dcd4cd;
}

body {
  display: inline-block;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
  padding: .4em .75em .5em;
  margin: 0;
}

p {
  padding: .4em .75em .5em;
  margin: inherit;
}

.list {
  margin: 1rem;
  border-bottom: 2px solid #9a816d;
  border-top: 2px solid #9a816d;
  text-align: left;
}

dl {
  font-size: .875rem;
  column-count: 2;
}

dd {
  font-style: italic;
}

.button {
  text-align: center;
}

.btn {
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  font-size: 1.125rem;
  background-color: #785439;
  color: #f0eee8;
  padding: .4em .75em .5em;
  margin: 0 0 1rem;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: #512200;
}
.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #512200;
}
